{% extends "base.html" %}

{% block content %}
    <div>
        <h1 class="my-5 text">{{nota.title}}</h1>
        <p class="my-5 nota-li">{{nota.description}}</p>
    </div>
    <div class="buttons">
        <ul style="list-style-type: none; padding-left: 0;">
            <li class="edit_del my-5">
                <a href="{% url 'item.editar' pk=nota.id %}" class="btn btn-secondary">Editar</a>
                <a href="{% url 'item.deletar' pk=nota.id %}" class="btn btn-secondary">Excluir</a>
            </li>
        </ul>
    </div>
{% endblock %}