{% extends 'base.html' %}

{% block content %}
<h1 class="my-5">Sua Aposta</h1>


<h3>Numeros entre 1 a 50</h3>

<br><br>


<form action="{% url 'mais' %}" method="get">
    {{multiplas_apostasform}}
    <input type="submit" value="Ok">
</form>

<form class="my-5" action="{% url 'aposta.selecao'%}" method="post">
    {% csrf_token %}
    {{apostaform.as_p}}
    <input type="submit" value="Confirmar Aposta" action="{% url 'menu.principal'%}">
</form>

<h4>{{nota}}</h4>

{% if apostaform.errors %}
<div class="alert alert-danger my-5" >
    <ul>
        {% for field, errors in apostaform.errors.items %}
            {% for item in apostaform %}
                {% if field == item.name %}
                <li style="list-style-type: none; padding-left: 0;"><strong>{{ item.label }}</strong>: {{ errors|join:", " }}</li>
                {%endif%}
            {% endfor%}
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}